@use "../abstracts/abstracts" as *;
@use "../base/typography" as *;

.view-button{
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: end;
  font-family: $lato-font-family;
  width: fit-content;
  cursor: pointer;
  z-index: 5;
  
  p{
    position: relative;
    font-size: 1.3vw;
    font-weight: 700;
    padding-bottom: 6px;
    transition: ease-in .3s;   
  }

  svg{
    position: relative;
    bottom: 5%;
  }
  
  :nth-child(2){
    font-size: 2.15vw;
    stroke-width:.8;
  }


}


.text-in{
  color:$dark-gray;
  p{
    padding-bottom: 4px;
  }

  transition: color ease-in .2s, padding  ease-in .3s;
}

.text-out{
  color:black;
  p{
    padding-bottom: 6px;
  }
  transition: color ease-in .2s, padding  ease-in .3s;
}

.icon-out{
  bottom: 2px !important;
  transition: bottom .4s ease;
}


.icon-in{
  bottom: 5px !important;
  transition: .4s ease;
        }




  @media (max-width:991px){
          .view-button{
            p{
              font-size: 1.78vw; 
            }
        
            :nth-child(2){
              font-size: 2.75vw;
            }
          }
    }
    
@media (max-width:788px){
  .view-button{
    p{
      font-size: 1.6vw; 
    }

    :nth-child(2){
      font-size: 2.5vw;
    }
  }
}