@use "../abstracts/abstracts" as *;
@use "../base/typography" as *;
    
    .project-card{
      font-family: $lato-font-family;



      .card-info{
        h1{
          font-weight: 700;
          line-height: 54px;
          margin-bottom: 40px;
          animation: $slide-in-top;
          -webkit-animation: $slide-in-top;
        }
        
        h2{
          font-weight: 300;
          line-height: 1.6em;
          margin-top: 40px;
          margin-bottom: 30px;
        }

        .separation-line{
          height: 3px;
          width: 100px;
          background-color: black;
        }
        
      }


      img{
        width:85%;
        margin-top: 21%;
        cursor: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/9632/heart.png"), auto;
        cursor: url("../../images/arr.png"), auto;
        transition: opacity .7s, transform .2s;
      }

      img:hover{
        opacity: .7;
        transition: opacity .7s;
      }

    }









    @media (min-width:992px){

    .card-info {
      h1{
    font-size: 45px;
    }
    h2{
      font-size: 20px;
    }
  }
  }

    @media (max-width:991px){
      .card-info {
        h1{
        font-size: 40px;
      }
      h2{
        font-size: 18px;
      }
    }

    .project-card{
      grid-template-columns:40% 60%;
      column-gap: 10px;
    }
    }


    @media (max-width: 767px) {
      .project-card{
        column-gap: 1%;
        grid-template-columns:45% 50%;
      }
    }
    



    @media (min-width: 632px){
      .project-card{
        display: grid;
        grid-template-columns:35% 65%;
        column-gap: 45px;
      }

      .mobile-only-heading, .mobile-separation-line{
        display: none;
      }
      .card-info{
        h1, .separation-line{
          display: block;
        }

        h2{
          padding-right: 10%;              
        }
      }

    }

    
    //mobile
    @media (max-width: 631px) {
      .project-card{
        display: flex;
        flex-direction: column-reverse;
        grid-template-columns:auto;
        column-gap: 45px;
      }

       .mobile-separation-line{
        display: block;
        height: 4px;
        width:25vw;
        background-color: black;
        margin: auto;
        margin-bottom: 3vh;
      }

      .project-card{
        img{
          width: 88%;
          margin: auto;
          margin-top: 10%;
        }

        .card-info{
          h2{
          margin-top: 0;
          margin-bottom: 20px;
          padding-right: 0%;              
        }
      }
      }

      .mobile-only-heading{
        display: block;
        font-weight: 700;
        line-height: 43px;
        margin-bottom: 25px;
          font-size: 38px;
          text-align: center;
      }
      
      .card-info{
        h1, .separation-line{
          display: none;
        }
        
      }

      .view-button{
        margin: auto;
      }

      .card-info h2{
        text-align: center;
      }
    }