@use "../abstracts/abstracts" as *;
@use "../base/typography" as *;

.hero-section {
  padding: 5.5% 3.5em;
  padding-bottom: 0px;
  
  h1 {
    font-family: $inter-font-family;
    font-weight: 600;
    animation: $fade-in-animation-hero-h1;
    animation: $slide-bottom-animation;
  }

  h2 {
    font-family: $lato-font-family;
    font-weight: 300;
    margin-top: 20px;
    line-height: 1.15em;
    animation: $fade-in-animation-hero-h2;
  }

  h2 span {
    font-weight: 400;
    font-style: italic;
    font-size: .9em;
  }


  .lg-screen-heading {
    font-size: 4.5em;
    line-height: 1.1em;
  }
}

//----------------large screen heading
@media (max-width: 1139px) {
  .lg-screen-heading {
    font-size: 4em;
    animation: $fade-in-animation-hero-h1;
    animation: $slide-bottom-animation;
  }
}
@media (min-width: 1024px) {
  .md-screen-heading {
    display: none;
  }

  .hero-section h2{
    font-size: 2.4em;
    width:75%;
  }
}

//----------------mid screen heading
@media (max-width: 1024px) {
  .lg-screen-heading {
    display: none;
  }
  .md-screen-heading {
    display: block;
    font-size: 4em;
  }

  .hero-section h2{
    font-size: 2.25em;
    width:70%;
    padding-bottom: 15%;
  }
}

//----------------small screen heading
@media (min-width: 632px) {
  .sm-screen-heading {
    display: none;
  }
}

@media (max-width: 631px) {
  .md-screen-heading {
    display: none;
  }

  .hero-section{
    padding: 8vh 6.5%;
    padding-right: 9%;
  }

  .sm-screen-heading {
    width: 100%;
    font-size: 11.5vw;
    line-height: 1em;
    animation: $fade-in-animation-hero-h2;
  }

  .hero-section h2{
    font-size: 6.5vw;
    margin-top: 30px;
    width:102%;
  }
}
