

  .projects-container {
    display: grid;
    margin-bottom: 15%;
}




//----------------mid screen
@media (min-width: 1025px) {
  //home page
  .home-page {
    display: grid;
    grid-template-rows: 542px auto;
    padding: 0 3%;
  }
}
@media (max-width: 1024px) {
  .home-page {
    grid-template-rows: 615px auto;
    padding: 9% 3%;
  }
}




//home projects
@media (max-width: 991px) {
  .home-projects {
    display: grid;
    grid-template-columns: 12% auto;
  }  
}

@media (min-width: 992px) {
  .home-projects {
    display: grid;
    grid-template-columns: 20% auto;
    grid-column-gap: 50px;
  }
}

@media (max-width: 767px) {
  .projects-container {
    padding-left:5vw;
  }
  
  .home-projects {
    display: grid;
    grid-template-columns: auto;
  }

}

//-----------------small screen
@media (max-width: 450px) {
  .home-page {
    grid-template-rows: 90vh auto;
    padding: 10% 3%;
  }
}


@media (max-width: 631px) {
  .projects-container {
    row-gap: 150px;
  }
}


@media (min-width: 632px) {
  .projects-container {
    row-gap: 100px;
  }
}