@use "../abstracts/abstracts" as *;
@use "../base/typography" as *;


.project-details-hero{
  padding-bottom: 75px;
  display: grid;
  grid-template-columns: 40% 60%;
  h1{
    font-size: 5em;
    font-family: $lato-font-family;
    font-weight: 600;
    text-align: center;
    padding-top: 2.5%;
    padding-bottom: 1%;
  }
  
  img{
    display: block;
    width: 43vw;
    margin:0 auto;
  }
}


.project-info-container{
    display: grid;
    grid-template-columns: 25% 70%;
}



.project-info-paragraphs{
display: grid;
grid-template-rows: 50% 50%;
gap:8px;
font-family: $lato-font-family;

h3{
  font-size: 35px;
  font-weight: 700;
}

.separation-line{
  margin: 15px 0;
  height: 2px;
  width: 60px;
  background-color: black;
}

p{
  font-size: 18px;
    line-height: 1.6em;
    font-weight: 300;
}
}

.paragraphs-row{
  display: grid;
  grid-template-columns: 50% 50%;
}


.proj-background{
  p{
    width: 85%;
  }
}

.tools-container{
  width: 60%;
  display: flex;
  flex-wrap: wrap;
}


.wireframes-section{
  font-family: $lato-font-family;
  margin-top: 15rem;

  h2{
    font-size: 2.9em;
    font-weight: 600;
    padding-top: 2.5%;
    padding-bottom: 2%;
    width: fit-content;
    margin: auto;
  }

p{
  margin-bottom: 20px;
  font-size: 18px;
    line-height: 1.6em;
    font-weight: 300;
    width: 80%;
    margin: auto;
    text-align: center;
    margin-bottom: 30px;
}

img{
  width: 100%;
  display: block;
  margin: auto;
}

}

.wireframes-container{
  display: grid;
  grid-template-columns: auto auto auto;
  width: 86%;
  column-gap: 5%;
  margin: auto;
}

.ui-section{
  margin-top: 2rem;
}


.demo-section{
position: relative;
font-family: $lato-font-family;
margin-top: 40px;
h2{
    font-size: 3em;
    font-weight: 600;
    padding-top: 2.5%;
    padding-bottom: 2%;
    margin:auto;
    width: fit-content;
}


video{
display: block;
width: 52%;
margin: auto;
margin-top:50px;
position: absolute;
left: 24vw;
}

}

.video-frame{
  position: absolute;
  display: block;
  width: 68%;
  margin: auto;
  left: 16vw;
}

.reflection-section{
  margin-top: 39vw;
}




@media (max-width:991px) {
  .project-details-heading {
    h1{
      font-size: 8vw;
      padding-bottom: 5%;
      padding-top: 5%;
    }
    
    img {
     width:75%; 
    }

    .project-info-paragraphs{
      h3{
        font-size: 35px;
      }
    }
  
}

@media (max-width:526px){
  .project-details-heading {
    h1{
      font-size: 11vw;
      padding-top: 12%;
      padding-bottom: 8%;
    }
    
    img {
     width:72%; 
    }
  }
}
}